.contacts{
	position: relative;


	padding-top: 200px;
	padding-bottom: 55px;
	background-image: url('/../img/contacts/bg-footer.svg');
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;

	&::before{
		position: absolute;
		left: 50%;

		content: '';
		display: block;
		width: 743px;
		height: 743px;

		background-image: url('/../img/contacts/oval-footer.svg');
		background-repeat: no-repeat;
		background-size: initial;

		
	}

	&::after {
		position: absolute;
		left: 50%;
		bottom: 0;
		
		content: '';
		display: block;
		width: 478px;
		height: 547px;
		margin-left: 79px;
		
		background-image: url('/../img/contacts/wooman.png');
		background-repeat: no-repeat;
		background-size: initial;
		
	}
}
.contacts__info {
	max-width: 360px;
}

.contact__title{
	margin-bottom: 15px;
}

.contact__text{
	margin-bottom: 30px;
	max-width: 342px;
}


.button {}