.objects {
	padding-top: 45px;
	padding-bottom: 80px;
}

.objects__row {
	display: flex;
	justify-content: center;
	align-items: center;

	overflow-x: hidden;

	@media (max-width: 1495px) {
		justify-content: flex-end;
	}
}

.objects__title{
	margin-bottom: 20px;
}

.objects__text {
	flex-shrink: 0;

	max-width: 693px;
	padding-left: 181px;
	margin-right: 150px;

	p + p{
		margin-top: 20px;
	}
}

.objects__button{
	margin-top: 40px;
}

.object__img{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}